.contact {
  background-image: url('/portfolio/images/backgroundContact.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  /* Adjust height as needed */
}

.contact_container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact_container>* {
  opacity: 1;
  /* Ensure child elements are fully opaque */
}

